/* No margin for social icon in navbar */
.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.left {
    margin-right: 10px;
    float: left;
}

img.right {
    margin-right: 10px;
    float: right;
}

/*************************************
  Footer
*************************************/
#mate-footer {
    text-align: center;
    background-color: #87A556;
    align-content: center;
    align-items: center;
    width: auto;
    color: #fff;
    padding: 1em 0;
}

#mate-footer .left {
    width: 70%;
    display: inline-block;
    float: left;
    text-align: left;
}

#mate-footer .right {
    width: 30%;
    display: inline-block;
    float: right;
    text-align: right;
}

#mate-footer #copyright {
    margin-bottom: 1em;
}

#mate-footer a {
    color: white;
}

#mate-footer .links a + a {
    margin-left: 1em;
}

#mate-footer #license {
    font-size: 0.9em;
}

#mate-footer #social img {
    height: 2em;
    width: 2em;
    margin: 1em .1em;
}

#mate-footer #social img:hover {
    opacity: 0.75;
    background-color: #9AB270;
}

#mate-footer .separator {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    border-left: 1px solid white;
    vertical-align: middle;
    margin: 0 0.4em;
}

/*************************************
  Spacing and header colours
*************************************/
.navbar-default {
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: #87A556;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #87A556;
}

h1.p-name.entry-title {
  margin-top: 40px;
}

article {
  margin-bottom: 16px;
}
